@use "sass:map";
@import "../../styles/palette.scss";
@import "../../styles/responsive.scss";

.bannerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: map.get($palette, "--color-light-gray");
  margin-bottom: 0;
}
.hide {
  display: none;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  min-width: 126px;
  color: map.get($palette, "--color-dark-gray");
  .hairline {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.9;
  }
  .baseline {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.9px;
    color: map.get($palette, "--color-dark-gray");
  }
}

.right {
  .text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.625px;
    color: map.get($palette, "--color-dark-gray");
  }
}

.closeButton {
  border: none;
  display: none;
  cursor: pointer;
  @media (min-width: map.get($responsive, "medium")) {
    display: flex;
  }
}
