@use "sass:map";
@import "../../styles/palette.scss";

.container {
  position: relative;
  margin-right: 1rem;
  width: 100%;
  height: 142px;
  margin-bottom: 14px;

  .imageContainer {
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    height: 142px;
    width: 142px;
  }
  .backgroundColor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 142px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.0001) 0%,
      #888888 19.79%,
      #666666 50%,
      rgba(51, 51, 51, 0.6) 71.88%
    );
  }
  .featuredCard {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;

    .cardListSections {
      display: flex;
      height: 106;
      margin-bottom: 0;
      .rightSection {
        margin-top: 8px;
        .buttonsContainer {
          z-index: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 77px;
          margin-right: 2rem;
          max-height: 50px;
          max-width: 200px;
        }

        .voteNowEyebrow {
          position: absolute;
          margin: 0;
          top: 28px;
          right: 40px;
          font-family: Lato;
          font-size: 10px;
          color: map.get($palette, "--color-white");
          z-index: 1;
        }
        .hideEyebrow {
          display: none;
        }

        .lastUpdate {
          font-family: Lato;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          color: map.get($palette, "--color-white");
          margin-left: 7rem;
          margin-top: 0;
        }
      }
    }
    .leftSection {
      .description {
        z-index: 1;
        font-family: Lato;
        font-size: 15px;
        line-height: 18px;
        color: map.get($palette, "--color-white");
        margin-left: 130px;
        margin-top: 0;
        margin-bottom: 25px;
        max-height: 35px;
        overflow: hidden;
      }
      h3 {
        font-family: Lato;
        font-weight: normal;
        font-size: 30px;
        align-items: flex-end;
        color: map.get($palette, "--color-white");
        margin-left: 130px;
        margin-top: 2px;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 36px;
        width: 350px;
      }
      .voteStatus {
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .voteStatusImageContainerThumbsUp {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          background-color: rgba(
            map.get($palette, "--color-green-positive"),
            1
          );
        }
        .voteStatusImageContainerThumbsDown {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          background-color: rgba(
            map.get($palette, "--color-yellow-negative"),
            1
          );
        }
        .hideStatus {
          display: none;
        }
      }
    }
  }
  .voteCount {
    position: relative;
    display: flex;
    z-index: 2;
    width: 100%;
    max-height: 36px;
    .percentageContainer {
      position: absolute;
      display: flex;
      justify-content: space-between;
      padding-left: 33px;
      padding-right: 33px;
      align-items: center;
      width: 100%;
      height: 100%;
      left: 0;
      h4 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: map.get($palette, "--color-white");
      }
      .positivePercentage {
        margin: 0;
        z-index: 1;
      }
      .negativePercentage {
        margin: 0;
        z-index: 1;
      }
    }
    .thumbsUp {
      display: flex;
      align-items: center;
      padding-left: 12px;
      height: 36px;
      width: 25.5%;
      background-color: rgba(60, 187, 180, 0.6);
      .thumbsUpImageContainer {
        height: 15px;
        width: 15px;
      }
    }
    .thumbsDown {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 12px;
      height: 36px;
      width: 74.5%;
      background-color: rgba(249, 173, 29, 0.6);
    }
    .thumbsDownImageContainer {
      height: 15px;
      width: 15px;
    }
  }
}
