@use "sass:map";
@import "../../styles/responsive.scss";

.cardsContainer {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 300px;
  @media (min-width: map.get($responsive, "medium")) {
    display: grid;
    max-height: none;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 21px;
  }
  @media (min-width: map.get($responsive, "large")) {
    grid-template-columns: repeat(3, 1fr);
  }
}
