@use "sass:map";
@import "../../styles/palette.scss";

.voteNowButton {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid map.get($palette, "--color-white");
  box-sizing: border-box;
  width: 107px;
  height: 38px;
  color: map.get($palette, "--color-white");
  font-family: Lato;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.voteNowButton:disabled {
  border: 1px solid grey;
  color: grey;
  background-color: rgba(57, 57, 57, 0.667);
}
