@use "sass:map";
@import "../../styles/responsive.scss";

.openMenu {
  z-index: 2;
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
  @media (min-width: map.get($responsive, "large")) {
    display: none;
  }
}
