@use "sass:map";
@import "../../styles/palette.scss";

.root {
  position: relative;
  left: 0;
  top: -81px;
  z-index: -1;
  height: 90vh;
  min-height: 450px;
  @media (min-width: 1100px) {
    min-height: 650px;
    top: -110px;
  }
}

.imageContainer {
  position: absolute;
  top: 0;
  width: 160vw;
  left: -35vw;
  min-height: 450px;
  height: 90vh;
  @media (min-width: 1100px) {
    min-height: 650px;
  }
}
.heroContainer {
  position: relative;
  width: 100vw;
  height: 100%;
}
