@use "sass:map";
@import "../styles/responsive.scss";

.bodyContainer {
  width: 100%;
  .center {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    @media (min-width: map.get($responsive, "medium")) {
      margin-left: 1rem;
      margin-right: 1.2rem;
    }
    @media (min-width: map.get($responsive, "large")) {
      margin-top: -70px;
      margin-left: 10.5rem;
      margin-right: 10rem;
    }
  }
}
